@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.icon-whats-m {
  font-size: 35px;
}

.icon-whats {
  background-image: url("../img/whatsapp.svg");
  background-size: 18%;
  background-position: left;
  background-repeat: no-repeat;
}

.icon-whats2 {
  background-image: url("../img/whatsapp.svg");
  background-size: 25%;
  background-position: left;
  background-repeat: no-repeat;
}

body {
  display: flex !important;
  flex-direction: column !important;
  background-color: #000 !important;
}

header {
  height: 8rem;
  -webkit-user-drag: none;
  user-select: none;
}

nav {
  align-items: center;
  justify-content: space-between;
}

.help {
  display: none;
}

ul {
  display: flex;
  gap: 9rem;
  list-style: none;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

ul a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  cursor: default;
}

ul img {
  width: 10rem;
  height: 10rem;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.menu-item a:hover {
  color: #fbe087;
}

.line {
  border: 1px solid #fff;
  width: 80%;
  margin: 0 auto;
}

.btn-vermais {
  display: grid;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  width: 12rem;
  height: 3rem;
  border-style: solid;
  border-width: 2px;
  border-color: gold;
  border-radius: 7px;
  font-weight: bold;
}

.btn-vermais:hover {
  background-color: gold;
  color: #000;
  transition: 0.2s ease-in-out 0.3s;
}

.btn-whats {
  text-align: center;
  text-decoration: none;
  padding: 11px;
  padding-left: 33px !important;
  background-color: white;
  color: #25d366;
  width: 9rem;
  height: 4rem;
  border-radius: 7px;
  cursor: pointer;
}

.btn-banner {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  padding-left: 37px !important;
  background-color: white;
  color: #25d366;
  width: 12rem;
  border-radius: 7px;
  font-weight: bold;
}

.btn-banner-b {
  margin-left: 2.8rem;
  display: flex;
  gap: 2px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  background-color: white;
  color: #25d366;
  width: 12rem;
  border-radius: 7px;
  font-weight: bold;
}

.btn-banner-m {
  margin: 0 auto;
  display: flex;
  gap: 2px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  background-color: white;
  color: #25d366;
  width: 12.5rem;
  border-radius: 7px;
  font-weight: bold;
}

main {
  padding-top: 5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.carousel-inner img {
  height: 35rem !important; /* Altura fixa */
  object-fit: cover; /* Corta e preenche proporcionalmente */
  border-radius: 15px; /* Opcional, para manter o visual arredondado */
}

.conteudo {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.galeria img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

/* Modal - tela cheia */
.modal {
  display: none; /* Oculto por padrão */
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Imagem dentro do modal */
.modal-conteudo {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}

/* Botão de fechar */
.fechar {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.fechar:hover {
  color: #bbb;
}

.clientes {
  background-color: #d4af37;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  user-select: none;
  gap: 5px;
}

.icon a {
  padding: 5px;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(244, 143, 143, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: black;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .google:hover,
.wrapper .google:hover .tooltip,
.wrapper .google:hover .tooltip::before {
  background: #4285f4;
  color: #ffffff;
}

.copy {
  padding: 10px;
}

/* card availação */

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t-content {
  text-align: start;
}

.stares {
  display: flex;
  padding: 5px;
  align-items: center;
  text-align: start;
}

.stars {
  font-size: 20px;
}

.btn-avaliar {
  text-decoration: none;
  padding: 12px 20px;
  background-color: rgb(69, 100, 241);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border-radius: 20px;
}

.btn-avaliar:hover {
  background-color: rgb(0, 43, 233);
}

.titulo {
  margin: 0 auto;
  text-align: start;
  align-items: center;
  background-color: white;
  padding: 1.5rem;
  width: 80% !important;
  border-radius: 5px;
  margin-bottom: 20px;
}

.avaliacao {
  margin: 0 auto;
  text-align: center;
  display: flex;
  gap: 2px !important;
  width: 70% !important;
}

.recomendacao {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}

.container-reco {
  margin-bottom: 2px;
  padding: 5px;
}

.card {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 16rem;
  height: 20rem !important;
  text-align: start;
  font-size: 13px;
}

.card-title {
  text-align: start;
  width: 100%;
}

.card-title h3 {
  width: 100%;
  text-align: start;
  align-items: start;
  font-size: 22px !important;
}

.card-body {
  text-align: start;
  align-items: start;
  width: 100% !important;
}

.negrito {
  font-weight: bold;
}

.google-logo {
  align-items: center;
  text-align: center;
  margin-right: 3px;
  width: auto;
  height: 32px;
}

.header-t {
  display: flex;
  align-items: center;
  text-align: center;
}

.header-t h2 {
  color: black;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0px !important;
}

.data {
  font-size: 13px;
  color: gray;
}

.card-footer {
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.publicado {
  font-size: 11px;
  color: gray;
  width: 14rem !important;
}

.links {
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

/* card availação */

@media (max-width: 768px) {
  main {
    padding-top: 2rem;
    width: 100%;
  }

  nav {
    height: 10rem;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 2px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 9rem;
    height: 9rem;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  .btn-whats {
    width: 11rem !important;
    height: 2rem !important;
    text-align: center !important;
    align-items: center !important;
    padding-left: 3rem !important;
    display: none;
  }

  .btn-availa {
    background-color: rgba(255, 217, 0, 0.75);
    border: 2px solid gold;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn-availa .top-key {
    height: 2px;
    width: 2.5rem;
    position: absolute;
    top: 26.79rem;
    background: black;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }

  .btn-availa .bottom-key-1 {
    height: 2px;
    width: 2.5rem;
    right: 7rem;
    bottom: 11.95rem;
    position: absolute;
    background: black;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }

  .btn-banner {
    color: #25d366 !important;
  }

  .btn-banner-b {
    margin: 0 auto;
  }

  .btn-banner,
  .btn-availa {
    display: block;
    width: 100% !important;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: auto;
  }

  .line {
    border: 1px solid #fff;
    width: 80%;
  }

  .menu-item {
    display: none !important;
  }

  .carousel-inner {
    height: 25rem !important; /* Altura fixa */
    object-fit: cover; /* Corta e preenche proporcionalmente */
    border-radius: 15px;
  }

  .carousel-inner img {
    height: 15rem !important; /* Altura fixa */
    object-fit: cover; /* Corta e preenche proporcionalmente */
    border-radius: 15px; /* Opcional, para manter o visual arredondado */
  }

  .carousel {
    display: none !important;
  }

  .help {
    display: inline-block;
    height: 16rem !important;
    margin-bottom: 10rem !important;
  }

  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
  }

  .galeria img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }

  .Contato-text {
    display: flex;
    flex-direction: column;
  }

  .map-sd {
    width: 390px !important;
    height: 350px !important;
    padding: 10px !important;
  }

  .copy {
    padding: 10px;
    font-size: 13px !important;
  }

  .wrapper {
    width: 90%;
  }

  .titulo {
    width: 90% !important;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .header-t {
    width: 100% !important;
  }

  .header-t h2 {
    font-size: 18px !important;
  }

  .btn-avaliar {
    width: 20% !important;
  }

  .container-reco {
    text-align: center !important;
    align-items: center !important  ;
    margin: 0 auto !important;
    width: 18rem !important;
  }

  .recomendacao {
    font-size: 16px;
  }

  .stares {
    display: flex;
    flex-direction: column;
    width: 30px !important;
  }

  .stars {
    width: 30px !important;
    display: none !important;
  }

  .card {
    display: none !important;
  }

  .wripeer {
    display: flex !important;
  }

  .swiper-pagination {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    width: 100% !important;
    gap: 4rem;
  }
}

/* Swipper Teste */

.swiper {
  width: 100%;
  height: auto;
  gap: 5rem !important;
}

.swiper-wrapper {
  gap: 5px !important;
}

.swiper-slide {
  border-radius: 5px;
  color: black;
  width: 180px !important;
  height: 220px;
  background: white;
  text-align: start;
  padding: 6px;
  display: flex;
  flex-direction: column;
}

.title-swiper {
  font-size: 16px !important;
}

.data-swiper {
  font-size: 11px !important;
}

.stars-swiper {
  font-size: 11px !important;
}

.swiper-pagination {
  display: none;
}
