@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.icon-whats {
  background-image: url("../img/whatsapp.svg");
  background-size: 20%;
  background-position: left;
  background-repeat: no-repeat;
}

.icon-whats2 {
  background-image: url("../img/whatsapp.svg");
  background-size: 25%;
  background-position: left;
  background-repeat: no-repeat;
}

body {
  display: flex !important;
  flex-direction: column !important;
  background-color: #000 !important;
}

header {
  height: 8rem;
  -webkit-user-drag: none;
  user-select: none;
}

nav {
  align-items: center;
  justify-content: space-between;
}

.help {
  display: none;
}

ul {
  display: flex;
  gap: 9rem;
  list-style: none;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

ul a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
}

ul img {
  width: 10rem;
  height: 10rem;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.line {
  border: 1px solid #fff;
  width: 80%;
  margin: 0 auto;
}

.btn-whats {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  padding-left: 2rem !important;
  background-color: white;
  color: #25d366;
  width: 10rem;
  height: 3rem;
  border-radius: 7px;
}

.btn-banner {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  padding-left: 2.5rem !important;
  background-color: white;
  color: #25d366;
  width: 12rem;
  height: 3rem !important;
  border-radius: 7px;
  font-weight: bold;
}

main {
  padding-top: 5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.carousel-inner img {
  height: 35rem !important; /* Altura fixa */
  object-fit: cover; /* Corta e preenche proporcionalmente */
  border-radius: 15px; /* Opcional, para manter o visual arredondado */
}

.conteudo {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.galeria img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

/* Modal - tela cheia */
.modal {
  display: none; /* Oculto por padrão */
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Imagem dentro do modal */
.modal-conteudo {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}

/* Botão de fechar */
.fechar {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.fechar:hover {
  color: #bbb;
}

.clientes {
  background-color: #d4af37;
}

@media (max-width: 768px) {
  main {
    padding-top: 2rem;
    width: 100%;
  }

  nav {
    height: 10rem;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 2px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 9rem;
    height: 9rem;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  .btn-whats {
    width: 11rem !important;
    height: 2rem !important;
    text-align: center !important;
    align-items: center !important;
    padding-left: 3rem !important;
    display: none;
  }

  .btn-availa {
    background-color: white;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center !important;
    align-items: center !important;
  }

  .btn-banner {
    color: #25d366 !important;
  }

  .btn-banner,
  .btn-availa {
    display: block;
    width: 100% !important;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    margin: auto;
  }

  .line {
    border: 1px solid #fff;
    width: 80%;
  }

  .menu-item {
    display: none !important;
  }

  .carousel-inner {
    height: 25rem !important; /* Altura fixa */
    object-fit: cover; /* Corta e preenche proporcionalmente */
    border-radius: 15px;
  }

  .carousel-inner img {
    height: 15rem !important; /* Altura fixa */
    object-fit: cover; /* Corta e preenche proporcionalmente */
    border-radius: 15px; /* Opcional, para manter o visual arredondado */
  }

  .carousel {
    display: none !important;
  }

  .help {
    display: inline-block;
    height: 16rem !important;
    margin-bottom: 10rem !important;
  }

  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
  }

  .galeria img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }

  .contato {
    display: flex;
    flex-direction: column;
  }

  .map-sd {
    width: 380px !important;
    height: 350px !important;
    padding: 10px !important;
  }
}
